<a href="https://colab.research.google.com/github/Priyesh17/capstone-recommendation-system/blob/main/iPrintNewsRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

# EDA

### Exploring Consumer Transaction Data

In [ ]:
consumer_txn_data = pd.read_csv("/content/consumer_transanctions.csv")

<ipython-input-2-472c5cca2df5>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  consumer_txn_data = pd.read_csv("/content/consumer_transanctions.csv")

In [5]:
consumer_txn_data.head()

,event_timestamp,interaction_type,item_id,consumer_id,consumer_session_id,consumer_device_info,consumer_location,country
0,1465413032,content_watched,-3499919498720038879,-8845298781299428018,1264196770339959068,NaN,NaN,NaN
1,1465412560,content_watched,8890720798209849691,-1032019229384696495,3621737643587579081,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2...,NY,US
2,1465416190,content_watched,310515487419366995,-1130272294246983140,2631864456530402479,NaN,NaN,NaN
3,1465413895,content_followed,310515487419366995,344280948527967603,-3167637573980064150,NaN,NaN,NaN
4,1465412290,content_watched,-7820640624231356730,-445337111692715325,561148 1178424124714,NaN,NaN,NaN

In [ ]:
consumer_txn_data.shape

(72312, 8)